<html><head>
<meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0,user-scalable=no,minimal-ui">
<meta name="apple-mobile-web-app-capable" content="yes">
<meta name="format-detection" content="telephone=no">
<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
<title></title>
<link type="text/css" rel="stylesheet" href="http://static.hbyoo.com/wap/css/base.css">
<!--添加css-->
<link rel="stylesheet" type="text/css" href="./css/style.css">
<!--end-->
<script type="text/javascript" src="http://static.hbyoo.com/wap/js/zepto.min.js"></script>
<script type="text/javascript" src="http://static.hbyoo.com/wap/js/fastclick.js"></script>
<script type="text/javascript" src="http://static.hbyoo.com/wap/js/template.js"></script>
</head>
<body>
<div id="screen"><div class="header" style="position: relative;">
<div class="back"><a href="javascript:history.back();" class="back_btn"></a>
</div><div class="header-title">基本信息</div>
</div>
<div class="wraper">
<div class="grid-box pl12">
    <h1 class="mod-title">杨顺才<span class="sex">(男)</span></h1>
<ul class="mod-list">
<li class="fst">
<dfn>家庭住址：</dfn>　
<span class="c-gray">甘溪镇太平村一组</span>
</li>
<li class="action-photo-call">
<dfn>联系电话：</dfn>
<a class="tel-call" href="tel:0719-8888882,13999999999">0719-8888882,13999999999</a>
</li>
<li>
<span style="float:left;">低收入农户</span>
<span style="float:right">未加入农村合作社</span>
</li>
</ul>
</div>
<div class="grid-box pl12 mt15">
<ul class="mod-list">
<li class="fst">
<dfn>银行卡号：</dfn><span class="fold-box-! fs14 c-gray">6217002870002062469</span>
</li>
<li>
<dfn>开户银行：</dfn><span class="fold-box-! fs14 c-gray">十堰农商银行</span>
</li>
<li>
<dfn>识别标志：</dfn><span class="fold-box-! fs14 c-gray">市定标准</span>
</li>
</ul>
</div>


<div class="grid-box pl12 mt15">
<ul class="mod-list">
<li class="fst">
<dfn>主要致贫原因：</dfn><span class="fold-box-! fs14 c-gray">自身动力发展不足</span>
</li>
<li>
<span class="mod-cite">其他致贫原因：</span>
<br/>
<span class="msg FN12">&nbsp;&nbsp;&nbsp;&nbsp;其他原因详情其他原因详情其他原因详情其他原因详情其他原因详情其他原因详情其他原因详情其他原因详情其他原因详情其他原因详情</span>
</li>
</ul>
</div>

 
</div></div>


</body></html>