<html><head>
<meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0,user-scalable=no,minimal-ui">
<meta name="apple-mobile-web-app-capable" content="yes">
<meta name="format-detection" content="telephone=no">
<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
<title></title>
<link type="text/css" rel="stylesheet" href="http://static.hbyoo.com/wap/css/base.css">
<!--添加css-->
<link rel="stylesheet" type="text/css" href="./css/style.css">
<!--end-->
<script type="text/javascript" src="http://static.hbyoo.com/wap/js/zepto.min.js"></script>
<script type="text/javascript" src="http://static.hbyoo.com/wap/js/fastclick.js"></script>
<script type="text/javascript" src="http://static.hbyoo.com/wap/js/template.js"></script>
</head>
<body>
<div id="screen"><div class="header" style="position: relative;">
<div class="back"><a href="javascript:history.back();" class="back_btn"></a>
</div><div class="header-title">异地搬迁</div>
</div>
<div class="wraper">

<div class="grid-box pl12">
<ul class="mod-list">
<li style="background-image:none">
<dfn>是否搬迁户：</dfn><span class="fold-box-! fs14 c-gray">是</span>
<span class="fold-box-! fs14 c-gray" style="float:right">否</span><dfn style="float:right">是否列入当年计划：</dfn>
</li>
<li>
<dfn>搬迁类型：</dfn><span class="fold-box-! fs14 c-gray">主动搬迁</span>
<span class="fold-box-! fs14 c-gray" style="float:right">自己搬迁：</span><dfn style="float:right">搬迁类型：</dfn>
</li>
<li>
<dfn>安置方式：</dfn><span class="fold-box-! fs14 c-gray">分散安置</span>
</li>
<li>
<dfn>安置地点：</dfn><span class="fold-box-! fs14 c-gray">甘溪镇王家村2队1组</span>
</li>
<li>
<span class="mod-cite">搬迁可能存在的困难：</span><br/>
<span class="msg FN12">&nbsp;&nbsp;&nbsp;&nbsp;这是搬迁可能存在的困难这是搬迁可能存在的困难这是搬迁可能存在的困难这是搬迁可能存在的困难这是搬迁可能存在的困难这是搬迁可能存在的困难这是搬迁可能存在的困难这是搬迁可能存在的困难</span>
</li>
</ul>
</div>



 
</div></div>


</body></html>