<html><head>
<meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0,user-scalable=no,minimal-ui">
<meta name="apple-mobile-web-app-capable" content="yes">
<meta name="format-detection" content="telephone=no">
<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
<title></title>
<link type="text/css" rel="stylesheet" href="http://static.hbyoo.com/wap/css/base.css">
<!--添加css-->
<link rel="stylesheet" type="text/css" href="./css/style.css">
<!--end-->
<script type="text/javascript" src="http://static.hbyoo.com/wap/js/zepto.min.js"></script>
<script type="text/javascript" src="http://static.hbyoo.com/wap/js/fastclick.js"></script>
<script type="text/javascript" src="http://static.hbyoo.com/wap/js/template.js"></script>
</head>
<body>
<div id="screen"><div class="header" style="position: relative;">
<div class="back"><a href="javascript:history.back();" class="back_btn"></a>
</div><div class="header-title">家庭成员</div>
</div>
<div class="wraper">

<div class="grid-box pl12 mt15">
<ul class="mod-list">
<li class="fst">
<span>家庭成员人口数：8人</span>
</li>
</ul>
</div>

<div class="grid-box pl12" style="margin-top:15px">
    <h1 class="mod-title">杨铁柱<span class="sex">（男）</span></h1>
<ul class="mod-list">
<li>
<dfn>家庭住址：</dfn>
<span class="c-gray">甘溪镇太平村一组</span>
</li>
<li>
<dfn>身份证号：</dfn>
<span class="c-gray">420302111122223333</span>
</li>
<li>
<dfn>与户主关系：</dfn>
<span class="c-gray">儿子</span>
<span class="c-gray" style="float:right">正常</span>
<dfn style="float:right">成员状态：</dfn>

</li>
</ul>
</div>

<div class="grid-box pl12 mt15">
<h1 class="mod-title">杨二丫<span class="sex">（女）</span></h1>
<ul class="mod-list">
<li>
<dfn>家庭住址：</dfn>
<span class="c-gray">甘溪镇太平村一组</span>
</li>
<li>
<dfn>身份证号：</dfn>
<span class="c-gray">523233449921235497</span>
</li>
<li>
<dfn>与户主关系：</dfn>
<span class="c-gray">女儿</span>
<span class="c-gray" style="float:right">迁出</span>
<dfn style="float:right">成员状态：</dfn>
</li>
</ul>
</div>

<div class="grid-box pl12 mt15">
<h1 class="mod-title">李红<span class="sex">（女）</span></h1>
<ul class="mod-list">
<li>
<dfn>家庭住址：</dfn>
<span class="c-gray">甘溪镇太平村一组</span>
</li>
<li>
<dfn>身份证号：</dfn>
<span class="c-gray">456222456213245644</span>
</li>
<li>
<dfn>与户主关系：</dfn>
<span class="c-gray">配偶</span>
<span class="c-gray" style="float:right">正常</span>
<dfn style="float:right">成员状态：</dfn>
</li>
</ul>
</div>


 
</div></div>


</body></html>