<html><head>
<meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0,user-scalable=no,minimal-ui">
<meta name="apple-mobile-web-app-capable" content="yes">
<meta name="format-detection" content="telephone=no">
<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
<title></title>
<link type="text/css" rel="stylesheet" href="http://static.hbyoo.com/wap/css/base.css">
<!--添加css-->
<link rel="stylesheet" type="text/css" href="./css/style.css">
<!--end-->
<script type="text/javascript" src="http://static.hbyoo.com/wap/js/zepto.min.js"></script>
<script type="text/javascript" src="http://static.hbyoo.com/wap/js/fastclick.js"></script>
<script type="text/javascript" src="http://static.hbyoo.com/wap/js/template.js"></script>
</head>
<body>
<div id="screen"><div class="header" style="position: relative;">
<div class="back"><a href="javascript:history.back();" class="back_btn"></a>
</div><div class="header-title">收入卫计信息</div>
</div>
<div class="wraper">
<div class="head">收入信息</div>
<div class="grid-box pl12">
<ul class="mod-list">
<li style="background-image:none">
<dfn>年度：</dfn><span class="fold-box-! fs14 c-gray">2016</span>
<span class="fold-box-! fs14 c-gray" style="float:right">3000元</span><dfn style="float:right">年人均收入：</dfn>
</li>
<li>
<dfn>经营性收入：</dfn><span class="fold-box-! fs14 c-gray">600元</span>
</li>
<li>
<dfn>工资收入：</dfn><span class="fold-box-! fs14 c-gray">2000元</span>
<span class="fold-box-! fs14 c-gray" style="float:right">400元</span><dfn style="float:right">转移性收入：</dfn>
</li>
</ul>
</div>

<div class="head">卫计信息</div>
<div class="grid-box pl12">
<ul class="mod-list">
<li style="background-image:none">
<dfn>是否独生子女户：</dfn><span class="fold-box-! fs14 c-gray">是</span>
<span class="fold-box-! fs14 c-gray" style="float:right">否</span><dfn style="float:right">是否双女户：</dfn>
</li>
</ul>
</div>


 
</div></div>


</body></html>